.card {
    width: 100%;
}

.card-header {
    font-weight: 500;
}

.card-body {
    background-color: white;
}

.card-text {
    font-weight: 500;
    display: inline-block;
    width: 100%;
}

.data-value {
    font-weight: 200;
    align-self: center;
    float: right;
}

.date-value {
    float: right;
}