.menu-item-container {
    display: block;
    padding: 3px 3px 0px 3px;    /* padding: top right bottom left */
    margin-left: 5%;
    color: white;
    font-weight: 500;
}

.menu-item-container-selected {
    display: block;
    padding: 3px 3px 0px 3px;    /* padding: top right bottom left */
    margin-left: 5%;
    color: #30363E;
    background-color: white;
    font-weight: 500;
}

.menu-item-container-selected:hover {
    color: #30363E !important;
}

.menu-item-container:hover {
    padding: 3px 3px 0px 3px;    /* padding: top right bottom left */
    margin-left: 5%;
    font-weight: 500;
    color: white;
}

.menu-item-icon {
    width: 15%;
    text-align: center;
    padding: 0 5 0 5;
}