.menu-item-container {
    padding: 3px 3px 0px 3px;    /* padding: top right bottom left */
}

.menu-item-container :hover {
    background-color: white;
    color: #30363E;
}

.menu-item-icon {
    width: 15%;
    text-align: center;
    padding: 0 5 0 5;
    color: white;
}

.menu-item-text {
    color: white;
}