html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  height: 100%;
  width: 100%;
}

.body-container {
  height: 100%;
}

.body-sidenav {
  float: left;
}

.body-content {
  padding-top: 50px;
  padding-left: 220px;
  width: 95%;
}
